h1, h2, h3, p {
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}

.sidebar {
    background-color: white;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-left: 100px;
    max-width: 1000px;
}

.logoOnly {
    width: 50px;
    margin: 20px;
}

.icon {
    width: 25px;
    /* margin: 20px; */
}

.iconBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.iconBackground:hover {
    background-color: rgb(172, 199, 246);
}

.header {
    width: 100%;
}

.tests-wrapper {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.vertical-divider {
    border: 1px solid #999999;
    width: 0px;
}