h1, h2, h3, p {
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    /* display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between; */
    margin-left: 250px;
    background-color: rgb(237, 241, 253);
}

.sidebar {
    background-color: white;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    /* box-shadow: 5px 0 5px lightgray; */
    /* border-right: 1px solid lightgray; */
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    max-width: 1000px;
}

.logoOnly {
    width: 50px;
    margin: 20px;
}

.icon {
    width: 25px;
    /* margin: 20px; */
}

.icon-background {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    width: 220px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: #50535F;
    /* font-size: 14px; */
}

.icon-background:hover {
    background-color: rgb(172, 199, 246);
}

.sidebar-text-selected {
    color: rgb(57, 73, 214);
    font-weight: bold;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white; /* lightblue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
}

.tests-wrapper {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.vertical-divider {
    border: 1px solid #999999;
    width: 0px;
}

.domain-dropdown {
    background-color: lightblue;
    width: 400px;
    padding-left: 20px;
    border-radius: 8px;
}

.domain-dropdown-content {
    display: none;
}

.domain-dropdown-content-show {
    display: block;
    position: absolute;
}