.table-wrapper {
    background-color: white;
    /* width: 100%; */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    /* overflow-x: scroll; */
}

.table-wrapper table {
    min-width: 800px;
    border-collapse: collapse;
}

.table-wrapper tbody {
    width: 100%;
}

.table-wrapper td, .table-wrapper th {
    padding: 8px;
}

.table-wrapper thead {
    background-color: rgb(237, 241, 253);
}

.table-wrapper thead tr {
    align-items: start;

}

.table-wrapper thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table-wrapper thead tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

.table-wrapper thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table-wrapper thead tr:last-child th:last-child {
    border-bottom-right-radius: 10px;
}

.cookie-table-classifications {
    display: flex;
    flex-direction: row;
}

.cookie-table-classifications p {
    flex-grow: 1;
    font-weight: normal;
}

.cookies-table-wrapper .risk p,
.emails-table-wrapper .status p,
.pages-table-wrapper .privacyPolicy p {
    color: white;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    padding: 2px 10px;
}

.cookies-table-wrapper .risk .high, 
.emails-table-wrapper .status .alert,
.pages-table-wrapper .privacyPolicy .absent {
    background-color: rgb(167, 66, 68);
}

.cookies-table-wrapper .risk .medium,
.pages-table-wrapper .privacyPolicy .old-version {
    background-color: rgb(192, 111, 51);
}

.cookies-table-wrapper .risk .low {
    background-color: rgb(217, 182, 81);
}

.emails-table-wrapper .status .ok,
.pages-table-wrapper .privacyPolicy .ok {
    background-color: rgb(63, 163, 58);
}

.emails-table-wrapper .status .no-data {
    background-color: rgb(141, 151, 155);
}

