.table-wrapper {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper tbody {
    width: 100%;
}

.table-wrapper td, .table-wrapper th {
    padding: 8px;
}

.table-header {
    background-color: rgb(237, 241, 253);
}

.table-header th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-header th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}