.tile {
    /* flex-grow: 1; */
    min-width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.change-detection-tile {
    width: 100%;
    min-height: 300px;
    margin: 20px;
}

.cookie-tile {
    /* border: solid 1px red; */
}

.email-tile {
    /* border: solid 1px green; */
}

.tile-body {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.data-box {
    height: 90%;
    width: 30%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-count {
    font-size: 48px;
    font-weight: bolder;
}

.high-priority {
    background-color: rgb(166, 66, 66);
    color: white;
}

.medium-priority {
    background-color: rgb(192, 112, 51);
    color: white;
}

.low-priority {
    background-color: rgb(217, 183, 81);
    color: white;
}

.view-details-button {
    color: rgb(51, 68, 213);
    width: max-content;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.view-details-image {
    height: 12px;
    width: auto;
}