.tile {
    flex-grow: 1;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.change-detection-tile {
    width: 100%;
    min-height: 300px;
    margin: 20px;
}

.cookie-tile {
    /* border: solid 1px red; */
}

.email-tile {
    /* border: solid 1px green; */
}

.tile-body {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.data-box {
    height: 90%;
    width: 30%;
    border-radius: 10%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-count {
    font-size: 48px;
    font-weight: bolder;
}

.high-priority {
    background-color: rgb(236, 185, 179);
    color: rgb(113, 38, 39)
}

.medium-priority {
    background-color: rgb(249, 218, 191);
    color: rgb(157, 92, 43);
}

.low-priority {
    background-color: rgb(194, 221, 189);
    color: rgb(62, 109, 51);
}

.view-report-button {
    background-color: rgb(51, 68, 213);
    color: white;
    width: max-content;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}
