.tile {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    /* 50% of the whole container width - 2 * margins(20px) */
    width: calc((100% - 40px) / 3 * 2 + 20px);
    min-width: 510px;
    /* max-width: 580px; */
    line-height: 100%;
    box-shadow: 0px 0px 2px rgba(42, 46, 59, 0.08), 0px 4px 8px rgba(133, 141, 166, 0.16);
}

.tile h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.tile p {
    margin: 0;
}

.change-detection-tile {
    width: 100%;
    min-height: 300px;
    margin: 20px;
}

.cookie-tile {
    /* border: solid 1px red; */
}

.email-tile {
    /* border: solid 1px green; */
}

.tile-body {
    display: flex;
    gap: 10px;
    color: white;
}

.data-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: calc((100% - 20px) / 3);
    min-width: 120px;
    max-width: 160px;
    border-radius: 10px;
    justify-content: space-between;
    gap: 30px;
}

.data-box h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.data-box h2 {
    font-size: 48px;
    margin: 10px 0 0 0;
}

.data-box h3 {
    font-size: 16px;
    margin: 10px 0 0 0;
}

.high-priority {
    background-color: #B43940;
    color: white;
}

.medium-priority {
    background-color: #CC6B1F;
    color: white;
}

.low-priority {
    background-color: #C99700;
    color: white;
}

.zero-issues {
    background-color: #2B6F2A;
    color: white;
}

.view-details-button {
    color: #363CDE;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.view-details-button p {
    margin: 0;
}

.view-details-button img {
    width: 13px;
}