.to-do-list {
    /* grid-area: 1/4/2/5; */
    position: fixed;
    width: calc((100vw - 250px) / 4);
    max-width: calc(100vw - 250px - 632px);
    min-width: 180px;
    height: 100vh;
    right: 0;
    top: 60px;
    background-color: white;
    padding: 1rem;
    overflow: scroll;
}
.to-do-list h1 {
    font-size: 1rem;
}
.to-do-item {
    width: 100%;
    /* max-height: 200px; */
    background-color: rgb(237, 241, 253);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.to-do-item img {
    width: 25px;
    display: none;
}

.to-do-item div b {
    display: inline-block;
    /* margin-left: 10px; */
    font-size: 0.8em;
}

.to-do-high-priority {
    background-color: #B43940;
    color: white;
    width: max-content;
    padding: 1px 5px;
    border-radius: 5px;
}

.to-do-medium-priority {
    background-color: #CC6B1F;
    color: white;
    width: max-content;
    padding: 1px 5px;
    border-radius: 5px;
}

.to-do-low-priority {
    background-color: #C99700;
    color: white;
    width: max-content;
    padding: 1px 5px;
    border-radius: 5px;
}

.to-do-desc {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: pre;
  }
  
  .to-do-desc:focus  {
      text-overflow: clip;
      white-space: pre-line;
  }
  
  .to-do-desc {
      font-size: small;
  }
  
  .formText p:focus {
      text-overflow: clip;
      white-space: normal;
      word-break: break-all;
  }

@media screen and (max-width:1100px) {
    .to-do-list {
        position: relative;
        min-width: 100%;
        border-radius: 20px;
        top: 0;
        height: 300px;
    }
}